@import '//fonts.googleapis.com/css?family=Bangers';

@font-face {
    font-family: Azonix;
    src: url("../../../assets/fonts/Azonix.otf") format("opentype");
}

@font-face {
    font-family: Nasalization;
    src: url("../../../assets/fonts/nasalization-rg.ttf") format("opentype");
}

@font-face {
    font-family: Nasalization;
    font-weight: bold;
    src: url("../../../assets/fonts/NasalizationExtendedBold.ttf") format("opentype");
}

.azon {
    font-family: Azonix;
}

.nazal {
    font-family: Nasalization;
}

.comp-name {
    font-family: Nasalization;
    font-size: 1.5em;
    color: #072340;
    font-weight: 700;
    margin-top: -15px;
}

.team-name {
    background-color: white;
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 0.2em;
    transform: skew(25deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.team-name span {
    transform: skew(-25deg);
}

.team-name1 {
    background-color: white;
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 0.2em;
    transform: skew(-25deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.team-name1 span {
    transform: skew(25deg);
}

.tr-logo {
    object-fit: cover;
    width: 133px !important;
}

.screen-clock {
    transform: matrix(1, 0, 0.465, 1, -1, 0);;
}

.screen-clock countdown {
    font-family:Azonix;
    text-align:center;
    font-size:25px;
    letter-spacing:2px;
    color: white;
}

.wait-clock {
    font-family:Azonix;
    text-align:center;
    font-size: 7em;
    letter-spacing: 0.2em;
    color: white;
}

.scoreboard {
    position: relative;
    width: 100%;
}

.pos-abs {
    position: absolute;
}

.left-left {
    top: 25%;
    left: 10.5%;
}

.left {
    top: 37.5%;
    left: 20%;
    font-size: 1.8em;
    font-weight: 600;
    font-family: Nasalization;
}

.centered {
    top: 60%;
    left: 50.1%;
    transform: translate(-50%, -50%);
}

.right-right {
    top: 25%;
    right: 10.5%;
}

.right {
    top: 37.5%;
    right: 20%;
    font-size: 1.8em;
    font-weight: 600;
    font-family: Nasalization;
}

.left-left1 {
    top: 24%;
    left: -3%;
}

.left1 {
    top: 35.5%;
    left: 13%;
    font-size: 1.8em;
    font-weight: 600;
    font-family: Nasalization;
}

.centered1 {
    top: 41%;
    left: 51.4%;
    transform: translate(-50%, -50%);
}

.right-right1 {
    top: 24%;
    right: -5%;
}

.right1 {
    top: 36.5%;
    right: 13%;
    font-size: 1.8em;
    font-weight: 600;
    font-family: Nasalization;
}

.left-left-ready {
    top: 71%;
    left: 21%;
}

.left-ready {
    top: 73.8%;
    left: 23%;
    font-size: 1.8em;
    font-weight: 600;
    font-family: Nasalization;
}

.centered-ready {
    top: 77%;
    left: 50.1%;
    transform: translate(-50%, -50%);
}

.right-right-ready {
    top: 71%;
    right: 21%;
}

.right-ready {
    top: 73.5%;
    right: 25%;
    font-size: 1.8em;
    font-weight: 600;
    font-family: Nasalization;
}

@media screen and (min-width: 1500px) {
    .left-left-ready {
        top: 64%;
        left: 29%;
    }
    
    .left-ready {
        top: 65%;
        left: 28%;
        font-size: 1.8em;
        font-weight: 600;
        font-family: Nasalization;
    }
    
    .centered-ready {
        top: 67%;
        left: 50.1%;
        transform: translate(-50%, -50%);
    }
    
    .right-right-ready {
        top: 64%;
        right: 29%;
    }
    
    .right-ready {
        top: 65%;
        right: 28%;
        font-size: 1.8em;
        font-weight: 600;
        font-family: Nasalization;
    }
}

.score1pos {
    color:  white;
    font-family: Azonix;
    font-size: 3.5em;
    left: 0%;
    top: 130%;
}

.score2pos {
    color:  white;
    font-family: Azonix;
    font-size: 3.5em;
    right: 40%;
    top: 130%;
}

.start-clock countdown {
    font-size: 80px !important;
}

.centered-two {
    font-family: Azonix;
    color: #0D2843;
    font-size: 2em !important;
}

.clock-waiting {
    font-size: 80px !important;
    margin-top: 10%;
}

.start-clock {
    top: 85% !important;
}

input[type="radio"] {
    margin-top: -3px;
}

.last-radio {
    margin-top: -25px !important;
}

@media screen and (min-width: 1000px) {
    .last-radio {
        margin-top: -15px !important;
    }
}

.last-radio1 {
    margin-top: -15px !important;
}

@media screen and (max-width: 1000px) {
    .last-radio1 {
        margin-top: -37px !important;
    }
}

.last-radio2 {
    margin-top: 0;
}

@media screen and (max-width: 1000px) {
    .last-radio2 {
        margin-top: -15px !important;
    }
}

.delay-scoreboard {
    animation-delay: 1s;
}