<h3 *ngIf="router.url === '/game' && authority == 'ROLE_ADMIN'" style="margin-top: 80px;">Current Game</h3>
<div class="btn btn-success" routerLink="/game/add" *ngIf="router.url === '/game' && authority === 'ROLE_ADMIN'">New Game</div>
<div *ngIf="game">
    <div class="row justify-content-center" *ngIf="router.url === '/game' && authority === 'ROLE_ADMIN'">
        <select name="state" id="state" (change)="onChange($event.target.value)" [(ngModel)]="game.state">
            <option value="0">0 - Waiting</option>
            <option value="1">1 - Getting ready</option>
            <option value="2">2 - Steady</option>
            <option value="3">3 - In game</option>
            <option value="4">4 - Completed</option>
            <option value="5">5 - Validated</option>
            <option value="6">6 - Done</option>
        </select>
    </div>
    <app-state [game]="game" [timer]="timer"></app-state>
</div>