<h3>Create Team</h3>
<div [hidden]="submitted" class="row justify-content-center">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="team.name" name="name">
    </div>
 
    <div class="form-group">
      <label for="competition">Competition</label>
      <select class="form-control" name="competition" id="competition" [(ngModel)]="team.competition">
        <option value="LTCR">LTCR</option>
        <option value="SUMO">SUMO</option>
        <option value="JUNIOR">JUNIOR</option>
      </select>
    </div>

    <div class="form-group">
      <label for="image">Image</label>
      <input type="file" class="form-control" id="image" required [(ngModel)]="team.image" name="image">
    </div>
 
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
 
<div [hidden]="!submitted">
  <h4>Team created successfully!</h4>
  <button class="btn btn-success" (click)="newTeam()">Add Team</button>
</div>