<div class="row justify-content-center" style="margin-top: 80px;">
    <div class="card w-100" style="background-color: transparent;">
      <div class="card-header" style="text-align: center">
        <h4 class="card-title" style="color: black">
          <b>Teams</b>
        </h4>
        <div class="btn btn-success" routerLink="/teams/add">Add Team</div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Competition</th>
                <th scope="col">Logo</th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let team of teams | async" style="color: black">
                  <th scope="row">{{ team.id }}</th>
                  <td>{{ team.name }}</td>
                  <td>{{ team.competition }}</td>
                  <td><img src="../../assets/img/teams/{{ team.image }}" alt="" style="width: 133px;"></td>
                  <td><div class="btn btn-danger" (click)='deleteTeam(team.name)'>Delete</div></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
